.ToastRoot {
    transform: translateX(100%);
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@media (max-width: 640px){
    @keyframes slide-in-right {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
}

.ToastRoot.show {
  animation: slide-in-right 0.3s cubic-bezier(.2,.9,.2,1) forwards;
}

.ToastRoot.hide {
  animation: slide-out-right 0.3s cubic-bezier(.4,.0,.2,1) forwards;
}