@import 'tailwindcss';

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 320px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1200px;
  --color-primary: #313237;
  --color-secondary: #89939a;
  --color-icon: #b4bdc3;
  --color-element: #e2e6e9;
  --color-hover-bg: #fafbfc;
  --color-white: #ffffff;
  --color-accent-green: #27ae60;
  --color-accent-red: #eb5757;
}
