@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@import 'tailwindcss';

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 320px;
  --breakpoint-md: 640px;
  --breakpoint-md-lg: 768px;
  --breakpoint-lg: 1200px;
  --color-primary: #313237;
  --color-secondary: #89939a;
  --color-icon: #b4bdc3;
  --color-element: #e2e6e9;
  --color-hover-bg: #fafbfc;
  --color-white: #ffffff;
  --color-accent-green: #27ae60;
  --color-accent-red: #eb5757;

  --shadow-custom: 0px 3px 13px 0px #17203166;
}

html {
  font-family: 'Mont', sans-serif;
}

@keyframes underline-slide {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@utility animate-underline {
  animation: underline-slide 300ms ease-out forwards;
}